body {
	margin: 0px 0px 0px 0px;	
	width: 100%;
	height: 100%;
	min-height: 100%;
	font-family: 'ABeeZee', sans-serif;
	color: #FFF;
	background-color: #000;
}

a{
	color: #FFF;
}

h1{
	margin-top: 0px;
}

/**HEADER */
header {
	background-image: url("../img/header.jpg");
	background-size: cover;
	width: 100%;
	height: 100%;
	min-height: 100%;
	margin: 0px 0px 0px 0px;
	display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

nav ul {
	list-style: none;
}

nav ul li{
	padding: 10px 30px 30px 0px;
	display: inline;
}

nav a {
	font-size: 40px;
	color: #FFF;
	
}

header a {
	text-decoration: none;
	font-weight: bold;
	transition: color 0.3s;
}

header a:hover {
	color: #986C63;
}

#headerDiv {
	text-align: center;
	width: 100%;
	height: 100%;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	display: flex;
	flex-direction: column;
  	 -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

#headerDiv h1 {
	font-size: 80px;
	margin-bottom: 15px;
}

/* SECTIONS */
section {
	background-size: cover;
	width: 100%;
	line-height: 1.5em;
	font-size: 16px;
	margin: 15px 0px 0px 0px;
	display: flex;
}

#about {
	background-image: url("../img/about.jpg");
}

#cardapio {
	background-image: url("../img/cardapio.jpg");
}


.content {
	padding-top: 20px;
	margin-right: 40px;
	margin-left: 40px;
	display: flex;
	flex-direction: column;
  	 -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    font-size: 18px;
    text-align: justify;
}


/* MOBILE */
@media all and (max-width: 600px) {
	nav ul li {
		display: block;
	}
}

