body {
	margin: 0px 0px 0px 0px;	
	width: 100%;
	height: 100%;
	min-height: 100%;
	font-family: 'ABeeZee', sans-serif;
	color: #A0522D;
}

a{
	color: #FFF;
}

/**HEADER */
header {
	background-image: url("../img/header.jpg");
	background-size: cover;
	width: 100%;
	height: 100%;
	min-height: 100%;
	display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;

}

nav ul {
	list-style: none;
	display: inline;
}

nav ul li{
	padding: 10px 30px 30px 0px;
	display: inline;
}

nav a {
	font-size: 40px;
	color: #A0522D;
	
}

header a {
	text-decoration: none;
	font-weight: bold;
	transition: color 0.3s;
}

header a:hover {
	color: #FFF;
}

#content {
	text-align: center;
	width: 100%;
	height: 100%;
	padding: 0px 0px 0px 0px;
}

#content h1 {
	font-size: 80px;
	margin-bottom: 15px;
}

/* SECTIONS */
section {
	margin-top: 30px;
	margin-left: 40px;
}



