body {
  font-family: "Ubuntu", sans-serif;
  width: 100%;
  height: 100%; }
  body h1 {
    font-weight: 700; }
  body h2 {
    font-weight: 400;
    font-size: 1.2em; }
  body a {
    text-decoration: none; }
  body i:hover {
    color: #795548;
    transition: all 0.5s ease; }
  body .btn {
    display: flex;
    justify-content: center;
    min-width: 150px;
    max-width: 250px;
    margin: 1em;
    font-size: 1.5em;
    border: 2px solid #795548;
    background-color: #795548;
    border-radius: 10px 30px;
    cursor: pointer;
    color: #3E2723; }
  body .btn:hover {
    border: 2px solid #795548;
    background-color: #795548;
    transition: all 0.4s ease;
    color: #fff; }

header {
  width: 100%;
  color: #fff; }
  header a {
    color: #fff; }
  header h1 {
    font-size: 2.9em; }
  header h5 {
    font-size: 1.2em; }
  header video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }
  header .logo {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    background: url(./img/logo.png) no-repeat center;
    padding: 4em; }
  header .title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 4%; }
  header nav {
    display: flex;
    justify-content: flex-end;
    padding: 2em; }
    header nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex; }
      header nav ul a {
        position: relative;
        display: inline-block;
        padding: 1em;
        color: #fff; }
        header nav ul a:hover {
          color: rgba(255, 255, 255, 0.7); }

#socialIcons i {
    padding: 5px;  
}

#menuOpen,#menuClose {
  display: none;
}

.about {
  position: relative;
  width: 100%;
  padding-bottom: 3%;
  background-color: #F5F5F5;
  color: #795548; }
  .about h1 {
    color: #795548; }
  .about span {
    line-height: 150%; }

.bg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 250px; }
  .bg h2 {
    font-size: 1.5em;
    color: #fff; }

.first {
  background: url(./img/bg.jpg) no-repeat center; }

.second {
  background: url(./img/bg1.jpg) no-repeat center fixed; }

.third {
  background: url(./img/bg2.jpg) no-repeat center; }

.pecas {
  position: relative;
  width: 100%;
  color: #795548;
  background-color: #F5F5F5;
  padding-bottom: 3%; }
  .pecas .peca {
    display: none; }
    .pecas .peca img {
      max-width: 100%; }
  .pecas .peca .slidesjs-navigation {
    margin-top: 3px; }
  .pecas .peca .slidesjs-previous {
    margin-right: 5px;
    float: left; }
  .pecas .peca .slidesjs-next {
    margin-right: 5px;
    float: left; }
  .pecas .slidesjs-pagination {
    display: none; }
  .pecas .peca a:link, .pecas .peca a:visited {
    color: #333; }
  .pecas .peca a:hover, .pecas .peca a:active {
    color: #9e2020; }
  .pecas .fotosPecas {
    text-align: center; }
  .pecas .namePeca {
    font-size: 1.7em;
    text-align: center;
    font-weight: bold;
    padding-top: 25%; }
  .pecas #namePecas ul, .pecas #namePecas li {
    width: 100%; }
  .pecas ul {
    list-style: none;
    padding: 0; }
    .pecas ul li {
      padding: 3px;
      text-decoration: none; }
      .pecas ul li a {
        color: #795548; }
        .pecas ul li a:hover {
          text-decoration: underline; }

.team {
  color: #795548;
  background-color: #F5F5F5;
  padding-bottom: 2%;
  display: flex;
  justify-content: flex-center;
  flex-direction: column; }
  .team h2 {
    text-align: center;
    font-weight: 700;
    font-size: 1.7em; }
  .team .teamContent {
    display: flex;
    align-items: center;
    flex-direction: column; }
    .team .teamContent .teamName {
      font-weight: bold;
      padding: 10px; }
    .team .teamContent img {
      width: 130px;
      height: 130px;
      border: solid 4px;
      border-radius: 50%; }

.contact {
  background-color: #F5F5F5; }
  .contact h1 {
    color: #795548; }
  .contact i {
    color: #795548; }
  .contact #map {
    width: 100%;
    height: 350px; }

form div {
  padding: 5px; }
  form div .input {
    width: 85%; }

footer {
  display: flex;
  justify-content: center;
  padding: 1em;
  color: #795548;
  background-color: #F5F5F5; }
  footer span {
    color: #795548; }
  footer a {
    color: #3E2723; }
    footer a:hover {
      text-decoration: underline; }
  footer i:hover {
    color: #A1887F;
    transition: all 0.3s ease; }

    #menu {
     display: none;
    }

/* Menu Responsivo */
@media all and (max-width: 600px) {
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    width: 100px; }

     header video {
        display: none;
     }

     header {
        background-image: url("img/fundo.jpg");
        background-size: cover;  
     }

  .bg {
    padding: 4%; }

  #namePecas {
    text-align: center; } 

   #menuOpen,#menuClose {
     position: absolute;
     right: 40px;
     padding-top: 50px;
    }

    #menuOpen{
      display: block;
    }
    
    nav ul li {
     display: none;
     text-align: center;
     width: 110%;  
    }
}


/*# sourceMappingURL=style.css.map */