@font-face {
    font-family: velocity;
    src: url(velocity-font.ttf);
}

body {
	margin: 0 0 0 0;
	width: 100%;
	height: 100%;
	background-color: #191970;
}

header {
	width: 100%;
	color: #6495ED;
	font-family: velocity;
}

section {
	color: #6495ED;
	font-family: velocity;;
	text-align: center;
	font-size: 80px;
	margin-top: 15%;

}

footer {
	text-align: center;
	color: #6495ED;
	font-family: velocity;
	font-size: 40px;

}
