@font-face {
    font-family: velocity;
    src: url(velocity-font.ttf);
}

html,body {
	margin: 0 0 0 0;
	width: 100%;
	height: 100%;
	min-height: 100%;
	background-color: #191970;
}

#principal {
	height: 100%;
	min-height: 100%;
	color: #6495ED;
	font-family: velocity;;
	font-size: 30px; 
	display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;

}


#content {
	 border: solid 5px #3498db;
	 text-align: center;
	 padding-top: 40px;
	 padding-bottom: 40px;
	 padding-right: 100px;
	 padding-left: 100px;
}

